name: "Infra pipeline"

on:
  push:
    branches:
    - main
    - feature/*

jobs:
  my_job:
    name: Terraform integartion 
    runs-on: ubuntu-22.04

    steps:
      - name: This is a checkout code 
        uses: actions/checkout@v6


