name: "Infra pipeline"

permissions:
  id-token: write
  contents: read
  
on:
  push:
    branches:
    - main
    - feature/*

jobs:
  job_A:
    name: Terraform integartion 
    runs-on: ubuntu-22.04

    steps:
      - name: This is a checkout code 
        uses: actions/checkout@v6

  job_B: 
    name: Terraform jobs
    runs-on: ubuntu-22.04
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.0

      - name: Azure Login infra 
        uses: Azure/login@v2.3.0
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      
      - name: HashiCorp - Setup Terraform
        uses: hashicorp/setup-terraform@v3.1.2  
        
      - name: Terraform init 
        run: terraform init
        working-directory: Env/Dev


      - name: Terraform fmt 
        run: terraform fmt 
        working-directory: Env/Dev


      - name: Terraform validate 
        run: terraform validate 
        working-directory: Env/Dev


      - name: tfsec action
        uses: aquasecurity/tfsec-action@v1.0.3
        with:      
          working-directory: Env/modeles  
        
      - name: Tf sec 
        run: tfsec .
        working-directory: Env/Dev 
        continue-on-error: true

      - name: Terraform plan 
        run: terraform plan 
        working-directory: Env/Dev
